.classroomWrapper {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
};

.title {
  margin: auto;
};

.paper {
  margin: 'auto';
  max-width: 200;
  height: 500px;
}

.text {
  font-size: 30px;
}

.list {
  list-style-type: none;
  padding: 0px;
}

.li:hover {
  cursor: pointer;
  color: gray;
}